.containerListaServicos {
  padding: 32px !important;
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconeAdd {
  font-size: 30px !important;
}

.toolbar {
  padding: 0 32px !important;
  padding-bottom: 0 !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.botaoObservacoes {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 8px !important;
}

.textAreaInput {
  padding: 16px !important;
}
