.containerListaServicos {
  padding: 32px !important;
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.iconeAdd {
  font-size: 30px !important;
}

.toolbar {
  padding: 0 32px !important;
  padding-bottom: 0 !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.botaoObservacoes {
  display: flex;
  gap: 8px !important;
}

.textAreaInput {
  padding: 16px !important;
}

.containerPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 200px);
}

.botoesObservacao {
  padding: 0 32px !important;
  padding-top: 16px !important;
  display: flex;
  justify-content: end;
  background-color: #fff;
}
