.layoutPage {
  height: calc(100vh - 68px) !important;
  overflow: hidden;
  position: relative;
}

.outlet {
  width: 100vw;
  overflow-y: auto;
  position: absolute;
  top: 49px;
  bottom: 68px;
  height: calc(100vh - 68px - 49px) !important;
}
