.telaContainer {
  padding: 32px !important;
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px !important;
}

.infoCliente,
.enderecoCliente {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoCliente {
  padding-bottom: 24px !important;
}

.infoCliente h2,
.enderecoCliente h2 {
  font-size: 24px;
}

.toolbar {
  padding-bottom: 0 !important;
  width: 100%;
  display: flex;
  justify-content: end;
}
