.botao {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.normal {
  color: #fff;
  background-color: var(--color5);
}

.normal:focus,
.normal:hover {
  background-color: var(--color4);
}

.outline {
  color: var(--color5);
  background-color: transparent;
  border: 2px solid var(--color5);
}

.outline:focus,
.outline:hover {
  color: #fff;
  background-color: var(--color5);
}

.small {
  height: 30px;
  padding: 4px 6px !important;
}

.normal {
  height: 35px;
  padding: 8px 12px !important;
}

.large {
  height: 40px;
  padding: 12px 18px !important;
}
