* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --color1: #343838;
  --color2: #005f6b;
  --color3: #008c9e;
  --color4: #00b4cc;
  --color5: #00dffc;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.floating-animation {
  animation: float 3s ease-in-out infinite;
}
